.modes {
    // display: flex;
    // justify-content: space-between;
    width: 100%;
}

.modes-wrapper {
    display: flex;
    column-gap: 40px;
}

.start-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media all and (max-width: 991px) {
    .modes-wrapper {
        justify-content: space-around;
        column-gap: normal;
    }
}

@media all and (max-width: 640px) {
    .modes {
        align-items: center;
        flex-direction: column;

        row-gap: 30px;

        .total-recall {
            display: flex;
            flex-direction: column-reverse;
        }
    }

    .modes-wrapper {
        flex-direction: column;

        row-gap: 20px;
    }
}
