.statistics-wrapper {
    display: flex;
    margin-bottom: 24px;

    .statistics {
        display: flex;
        padding: 10px 16px;
        border-radius: 54px;
        background-color: #dee2ed;
        column-gap: 10px;

        &__info {
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media all and (max-width: 640px) {
    .statistics-wrapper {
        justify-content: center;
        width: 100%;
        max-width: 350px;
        margin: 30px auto 0;

        .statistics {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 5px 8px;
            padding: 15px;
            border-radius: 15px;

            &__info {
                font-size: 16px;
            }
        }
    }
}
