.statistics-wrapper {
    display: flex;
    margin-bottom: 24px;

    .statistics {
        display: flex;
        padding: 10px 16px;
        border-radius: 54px;
        background-color: #dee2ed;
        column-gap: 10px;

        &__info {
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media all and (max-width: 640px) {
    .statistics-wrapper {
        justify-content: center;

        .statistics {
            padding: 5px 8px;

            &__info {
                font-size: 12px;
            }
        }
    }
}
