.results-table-wrapper {
    overflow: hidden;
    margin-bottom: 40px;
    padding: 40px;
    border-radius: 16px;
    background-color: #ffffff;

    .results-table {
        &__title {
            text-align: center;
        }

        &__columns {
            display: flex;
        }
    }

    .unknown-list {
        &__title {
            margin: 0 0 10px 10px;
        }

        &__items {
            display: grid;

            grid-column-gap: 10px;
            grid-row-gap: 10px;
            grid-template-columns: repeat(6, 1fr);
        }

        &__item {
            overflow: hidden;
            width: 100%;
            min-height: 120px;
            border-radius: 16px;
        }

        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 20px;
            border: none;
            background: rgb(245, 246, 250);
            color: #1d1d1d;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 600ms;

            &:hover {
                background-color: #d5dae8;
            }
        }
    }

    .pop-up-wrapper {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        display: flex;
        overflow: hidden;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 40px;
        background: rgba(29, 29, 29, 0.6);

        .pop-up {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 100%;
            max-width: 680px;
            min-height: 410px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 20px;
            background: #f8f8f7;
            transform: translate(-50%, -50%);

            &__close-btn {
                display: block;
                width: 40px;
                height: 40px;
                margin: 0 0 0 auto;
                padding: 12px;
                border: none;
                border-radius: 10px;
                background: #ffffff url('../../assets//close-btn.svg') no-repeat center;
                cursor: pointer;
            }
        }
    }

    .word-info {
        p:not(p:first-child) {
            margin-bottom: 5px;
            color: #1d1d1d;
            font-size: 22px;
        }

        &__original {
            margin-bottom: 10px;
            color: #1d1d1d;
            font-size: 36px;
        }
    }
}

@media all and (max-width: 1060px) {
    .results-table-wrapper .unknown-list__btn {
        font-size: 1.55vw;
    }
}

@media all and (max-width: 1024px) {
    .results-table-wrapper {
        .unknown-list {
            &__items {
                grid-template-columns: repeat(5, 1fr);
            }

            &__btn {
                font-size: 16px;
            }
        }

        .pop-up-wrapper .pop-up {
            max-width: 600px;
            min-height: 350px;
        }
    }
}

@media all and (max-width: 991px) {
    .results-table-wrapper {
        margin-bottom: 0;

        .unknown-list {
            &__items {
                grid-template-columns: repeat(4, 1fr);
            }

            &__btn {
                padding: 10px;
            }
        }

        .word-info {
            p:not(p:first-child) {
                font-size: 18px;
            }

            &__original {
                font-size: 30px;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .results-table-wrapper {
        .unknown-list {
            &__item {
                min-height: 90px;
            }

            &__btn {
                font-size: 14px;
            }
        }

        .pop-up-wrapper {
            .pop-up {
                max-width: 500px;
                min-height: 250px;

                &__close-btn {
                    margin-bottom: 10px;
                }
            }
        }

        .word-info {
            p:not(p:first-child) {
                font-size: 14px;
            }

            &__original {
                font-size: 24px;
            }
        }
    }
}

@media all and (max-width: 640px) {
    .results-table-wrapper {
        padding: 20px;

        .results-table {
            &__title {
                font-size: 26px;
            }
        }

        .unknown-list {
            &__title {
                font-size: 16px;
            }

            &__items {
                grid-template-columns: repeat(1, 1fr);
            }

            &__item {
                min-height: auto;
            }
        }

        .pop-up-wrapper .pop-up {
            max-width: 435px;
        }
    }
}

@media all and (max-width: 510px) {
    .results-table-wrapper {
        .pop-up-wrapper .pop-up {
            max-width: 90%;
        }
    }
}
